<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="lef">
        <h2 class="heading">Sign In</h2>
        <div class="horizontal"></div>
        <div class="card-left">
          <div class="data">
            <form [formGroup]="signin" (ngSubmit)="onSubmit(signin)" class="form-check">
              <div class="wlc">
                <p>Welcome</p>
                <p>Login to our site</p>
              </div>
              <div class="input-group">
                <div class="input">
                  <!-- Email Input -->
                  <input class="rounded-2" type="email" placeholder="Enter your username or email" formControlName="email" />
            
                  <!-- Password Input -->
                  <input class="rounded-22" type="password" placeholder="Enter the password" formControlName="password" />
                </div>
                <div class="checkbox">
                  <div class="check">
                    <input type="checkbox" id="box" formControlName="remPass" /><label for="password">remeber password</label>
                  </div>
                  <p class="float-right text-decoration-none">
                    Forgot your password?
                  </p>
                </div>
                <button class="btn text-white rounded-5 text-center">
                  SignIn
                </button>
                <div class="spacel">
                  <div class="account">
                    <p>Don’t have an account?</p>
                    <span><a class="text-decoration-none" href="#"><b>Create an account</b></a></span>
                  </div>
                  <div class="login">
                    <div class="container">
                      <div class="column">
                        <div class="horizontall"></div>
                      </div>
                      <div class="column">
                        <span>
                          <p>or login with</p>
                        </span>
                      </div>
                      <div class="column">
                        <div class="horizontall"></div>
                      </div>
                    </div>

                    <div class="button">
                      <button class="facebook rounded-2">
                        <i class="fab fa-facebook" style="color: #1877f2;"></i>
                        Facebook
                      </button>
                      <button class=" google butun rounded-2 bg-white">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 48 48">
                          <path fill="#FFC107"
                            d="M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z">
                          </path>
                          <path fill="#FF3D00"
                            d="M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z">
                          </path>
                          <path fill="#4CAF50"
                            d="M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z">
                          </path>
                          <path fill="#1976D2"
                            d="M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z">
                          </path>
                        </svg>
                        Google
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-1">
      <div class="vertical"></div>
    </div>
    <div class="col-5">
      <div class="right">
        <div class="card-right">
          <h2 class="heading">I’m a new Customer</h2>
          <div class="horizontal"></div>
          <div class="container ">
            <div class="headingtxt">
              <p class="para">
                Creating an account is <b>quick,</b> <b>easy,</b> and <b>free.</b> <br>
                You will be able to
                manage and automate your <br>processes, track your orders, write reviews,<br>
                and more!
              </p>
            </div>
          </div>
          <button class="btn rounded-5 w-50 text-white">Create account</button>
          <div class="dog">
            <img class="doggy" src="../../../assets/Doggy.jpg" alt="A cute dog" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>