.heading {
    margin-top: 45px;
    color: #056938;
    font-family: DIN Next LT W23;
    font-size: 30px;
    font-weight: 696;
  }
  
  .horizontal {
    margin-top: -7px;
    width: 41%;
    height: 3px;
    margin-left: 0px;
    background: linear-gradient(to right, #056938, #ffffff);
  }
  
  .vertical {
    width: 1.5px;
    height: 509px;
    margin-left: 20px;
    background-color: rgb(40, 167, 69);
  }
  
  .card-left {
    width: 431px;
    height: 454px;
    background: #f0fff8;
    border-radius: 20px 0px 0px 0px;
    margin-top: 9px;
    margin-left: -8px;
    display: flex;
  }
  
  .wlc {
    margin: top 10px;
    margin-bottom: 5px;
  }
  
  .form-check {
    margin-top: 10px;
    flex-direction: row;
    position: relative;
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #056938;
    width: 350px;
  }
  
  .check {
    float: left;
    margin-right: 10px;
    margin-top: -16px;;
  }
  
  .float-right {
    float: right;
  }
  
  .data {
    height: 20px;
    background: red($color: #000000);
  }
  
  .input-group {
    gap: 14px;
    width: 353px;
    display: flex;
    justify-content: center;
  }
  
  .input {
    width: 332px;
    margin-left: 11px;
    height: 43px;
  }
  
  #box {
    margin-right: 8px;
  }
  
  .input {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
    .rounded-2 {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: dodgerblue;
      }
    }
  
    .rounded-22 {
      width: 100%;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ccc;
      outline: none;
      transition: border-color 0.3s ease;
  
      &:focus {
        border-color: dodgerblue;
      }
    }
  }
  
  .checkbox {
    flex-direction: row;
    margin-bottom: 0px;
  }
  
  .spacel {
    width: 229px;
  }
  
  .horizontall {
    height: 1px;
    margin: 15px 0;
    width: 96px;
    background: #056938;
  }
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .column {
    width: 30%;
    /* Adjust the width of each column */
  }
  
  .button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  
  .facebook {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    color: #1877f2;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add box shadow */
  }
  
  .google {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    color: #1877f2;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .facebook i {
    font-size: 20px;
    margin-right: 5px;
    color: #1877f2;
  }
  
  .butun {
    background-color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
    svg {
      width: 22px;
      height: 22px;
      fill: #ffc107;
      margin-right: 5px;
    }
  }
  
  
  
  
  // Right section
  .right {
    margin-top: 146px;
  }
  
  .card-right {
    gap: 10px;
    height: 240px;
    width: 450px;
  }
  
  .headingtxt {
    font-size: 19px;
    font-weight: 400;
    width: 450px;
  
  }
  
  .para {
    font-size: 19px;
    font-weight: 400;
    width: 450px;
    padding-bottom: 14px;
    margin-left: -12px;
    padding-top: 20px;
  
    b {
      color: #056938;
    }
  }
  
  .vertical {
    width: 1.5px;
    height: 454px;
    margin-top: 94px;
    background-color: rgb(40, 167, 69);
  }
  
  .dog {
    width: 329px;
    height: 200px;
    margin-left: 225px;
  }
  
  .doggy {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }