<div class="wrapper container">
  
  <div class="container containerhhhhhh">
    <div class="card-left rounded-2">
      <div class="card-body pl-2">
        <div class="text">
          <p>Welcome</p>
          <p>Create an account on our site</p>
        </div>
        <form [formGroup]="user" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input
              class="form-control"
              formControlName="name"
              type="text"
              id="name"
              placeholder="Enter your full name"
              required
            />
            <i class="fa-solid fa-user"></i>
          </div>
          <div class="form-group">
            <i class="fa-solid fa-mobile-button"></i>
            <input
              class="form-control"
              formControlName="phone"
              type="number"
              id="phone"
              placeholder="Enter your phone number"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control"
              formControlName="email"
              type="email"
              id="email"
              placeholder="Enter e-mail"
              required
            />
            <i class="fa-solid fa-envelope"></i>
          </div>
          <div class="form-group">
            <input
              class="form-control"
              formControlName="password"
              type="password"
              id="password"
              placeholder="Enter your password"
              required
            />
            <i class="fa-solid fa-eye m-4 mt-0"></i>
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="form-group">
            <input type="checkbox" id="agree" />
            <label for="agree" class="checkbox-label m-2 size-sm">
              Do you agree to the <b>Terms of Use?</b>
            </label>
            <div class="captcha">
              <div
                class="g-recaptcha"
                data-sitekey="6Lc2zdUpAAAAAB1z7FTHU918WdPUqePAeR5gRcGY"
              ></div>
            </div>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn bg-success text-white form-control rounded-5"
            >
              Create an account
            </button>
            <p>
              Do you have a previous account? <b><a>Sign in</a></b>
            </p>
          </div>
        </form>
      </div>
    </div>
    <div class="vertical"></div>
    <div class="card-right m-5">
      <div class="card-body-right">
        <p>
          Creating an account is <b>quick, easy</b> and <b>free.</b><br />
          You will be able to:
        </p>
        <div class="data location">
          <i class="fa-solid fa-location-dot"></i>
          <p>Track your orders</p>
        </div>
        <div class="data manage">
          <i class="fa-solid fa-gear"></i>
          <p>Manage automations</p>
        </div>
        <div class="data history">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <p>View your order history</p>
        </div>
        <div class="data products">
          <i class="fa-solid fa-star"></i>
          <p>Rate & review products</p>
        </div>
        <div class="data discounts">
          <i class="fa-solid fa-percent"></i>
          <p>Get exclusive offers, discounts, and more!</p>
        </div>
        <div class="dog">
          <img class="doggy" src="../../../../assets/Doggy.jpg" alt="A cute dog" />
        </div>
      </div>
    </div>
  </div>
</div>
